<p>
  Hi <%= @interview.specialist.account.first_name %>,
</p>
<p>
  Good news! <%= @interview.user.account.first_name %> from <%= @interview.user.company.name %> has added more times for you to schedule an interview.
  You can see them <a href="<%= ApplicationMailer.default_url_options[:host] %>/interview_request/<%= @interview.uid %>">here</a>.
</p>
<p>
  Please select a time as soon as you can and let me know if you're having any issues.
</p>
<p>
  Best,<br>
  <%= @sales_person.name %>
</p>
