<p>
  Hi <%= @interview.user.account.first_name %>,
</p>
<p>
  <% if @interview.starts_at.blank? %>
    None of the times you selected to interview <%= @interview.specialist.account.name %> work on their end.
  <% else %>
    <%= @interview.specialist.account.name %> needs to reschedule your interview.
  <% end %>
</p>
<p>
  <%= @interview.specialist.account.first_name %> gave the following note on their availability: "<%= @interview.availability_note %>"
</p>
<p>
  Would you be able to select some alternative times for your interview <a href="<%= ApplicationMailer.default_url_options[:host] %>/interview_request/<%= @interview.uid %>/availability">here</a>?
</p>
<p>
  Once you do, we'll reach out to <%= @interview.specialist.account.first_name %> and ask them to pick another time.
</p>
<p>
  Best,<br>
  <%= @sales_person.name %>
</p>
