<% if article.errors.any? %>
  <div class="col-span-6">
    <div class="text-red-600">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<div class="mb-4">
  <%= text_area_tag "case_study_article[title]", article.title, form: "article_form", placeholder: "Title", class: "w-full text-3xl font-serif font-medium tracking-tight", data: {controller: "textarea", action: "input->textarea#resize keydown->textarea#preventLineBreak", textarea_target: "input"} %>
</div>

<div class="mb-12">
  <%= label_tag "case_study_article[subtitle]", "Description", class: "text-neutral-600 leading-none text-sm block mb-2" %>
  <%= text_area_tag "case_study_article[subtitle]", article.subtitle, form: "article_form", class: "shadow-sm focus:ring-emerald-500 focus:border-emerald-500 block w-full sm:text-sm border border-gray-300 rounded-sm", data: {controller: "textarea", action: "input->textarea#resize keydown->textarea#preventLineBreak", textarea_target: "input"} %>
</div>
