<div class="bg-white shadow px-4 py-5 sm:rounded-md sm:p-6">
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="md:col-span-1">
      <h3 class="text-lg font-medium leading-6 text-gray-900">Company</h3>
      <p class="mt-1 text-sm text-gray-500">All the information about the Company</p>
    </div>
    <div class="mt-5 md:mt-0 md:col-span-2">
      <div class="grid grid-cols-6 gap-6">
        <%= form.fields_for :company do |f| %>
          <div class="col-span-6">
            <%= f.label :name, class: "block text-sm font-medium text-gray-700" %>
            <%= f.text_field :name, class: "mt-1 focus:ring-emerald-500 focus:border-emerald-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-sm" %>
          </div>
          <div class="col-span-6">
            <%= f.label :website, class: "block text-sm font-medium text-gray-700" %>
            <%= f.text_field :website, class: "mt-1 focus:ring-emerald-500 focwus:border-emerald-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-sm" %>
          </div>
          <div class="col-span-6 sm:col-span-3">
            <%= f.label :business_type, class: "block text-sm font-medium text-gray-700" %>
            <%= f.select :business_type, ::Company::VALID_BUSINESS_TYPES, {include_blank: true}, {class: "mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-sm shadow-sm focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 sm:text-sm"} %>
          </div>
          <div class="col-span-6">
            <label class="block text-sm font-medium text-gray-700">Favicon</label>
            <div class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-sm">
              <div class="space-y-1 text-center">
                <% if article.company.favicon.attached? %>
                  <%= image_tag article.company.favicon, class: "mx-auto h-12 w-12" %>
                <% else %>
                  <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48">
                    <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                <% end %>
                <div class="flex text-sm text-gray-600">
                  <%= f.label :favicon, class: "relative cursor-pointer bg-white rounded-sm font-medium text-emerald-600 hover:text-emerald-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-emerald-500" do %>
                    <span>Upload the favicon</span>
                    <%= f.file_field :favicon, class: "sr-only" %>
                  <% end %>
                </div>
                <p class="text-xs text-gray-500">PNG, JPG, GIF up to 1MB</p>
              </div>
            </div>
          </div>
        <% end %>
        <div class="col-span-6 sm:col-span-4">
          <fieldset>
            <legend class="text-base font-medium text-gray-900">Company Type</legend>
            <div class="mt-4 space-y-4">
              <% CaseStudy::Article::COMPANY_TYPES.each do |type| %>
                <div class="flex items-start">
                  <div class="flex items-center h-5">
                    <%= check_box_tag "case_study_article[company_type][]", type, article.company_type.include?(type), class: "focus:ring-emerald-500 h-4 w-4 text-emerald-600 border-gray-300 rounded", id: "company_type_#{type.parameterize}" %>
                  </div>
                  <div class="ml-3 text-sm">
                    <label for="company_type_<%= type.parameterize %>" class="font-medium text-gray-700"><%= type %></label>
                  </div>
                </div>
              <% end %>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>
