<%= form_with(model: article, url: url) do |form| %>
  <div class="shadow overflow-hidden sm:rounded-md">
    <div class="px-4 py-5 bg-white sm:p-6">
      <div class="grid grid-cols-6 gap-6">
        <% if article.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

            <ul>
              <% article.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="col-span-6 sm:col-span-4">
          <%= form.label :interviewer, class: "block text-sm font-medium text-gray-700" %>
          <%= form.select :interviewer_id, options_for_select(@interviewers, article.interviewer_id), {include_blank: true}, {class: "mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"} %>
        </div>

        <div class="col-span-6 sm:col-span-4">
          <%= form.label :specialist, class: "block text-sm font-medium text-gray-700" %>
          <%= form.select :specialist_id, options_for_select(@specialists, article.specialist_id), {}, class: "mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" %>
        </div>

        <div class="col-span-6">
          <%= form.label :title, class: "block text-sm font-medium text-gray-700" %>
          <%= form.text_field :title, class: "mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
        </div>

        <div class="col-span-6">
          <%= form.label :subtitle, class: "block text-sm font-medium text-gray-700" %>
          <div class="mt-1">
            <%= form.text_area :subtitle, rows: 3, class: "shadow-sm focus:ring-blue-500 focus:border-blue-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md" %>
          </div>
        </div>

        <div class="col-span-6 sm:col-span-4">
          <fieldset>
            <legend class="text-base font-medium text-gray-900">Company Type</legend>
            <div class="mt-4 space-y-4">
              <% CaseStudy::Article::COMPANY_TYPES.each do |type| %>
                <div class="flex items-start">
                  <div class="flex items-center h-5">
                    <%= check_box_tag "case_study_article[company_type][]", type, article.company_type.include?(type), class: "focus:ring-blue-500 h-4 w-4 text-blue-600 border-gray-300 rounded", id: "company_type_#{type.parameterize}" %>
                  </div>
                  <div class="ml-3 text-sm">
                    <label for="company_type_<%= type.parameterize %>" class="font-medium text-gray-700"><%= type %></label>
                  </div>
                </div>
              <% end %>
            </div>
          </fieldset>
        </div>

        <div class="col-span-6">
          <%= form.label :comment, class: "block text-sm font-medium text-gray-700" %>
          <div class="mt-1">
            <%= form.text_area :comment, rows: 5, class: "shadow-sm focus:ring-blue-500 focus:border-blue-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md" %>
          </div>
        </div>

        <div class="col-span-6">
          <%= form.label :editor_note, class: "block text-sm font-medium text-gray-700" %>
          <div class="mt-1">
            <%= form.text_area :editor_note, rows: 5, class: "shadow-sm focus:ring-blue-500 focus:border-blue-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md" %>
          </div>
        </div>

        <div class="col-span-6">
          <%= form.label :goals, class: "block text-sm font-medium text-gray-700" %>
          <div class="mt-1">
            <%= form.text_area :goals, rows: 5, class: "shadow-sm focus:ring-blue-500 focus:border-blue-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md" %>
          </div>
        </div>

        <div class="col-span-3">
          <%= form.label :score, class: "block text-sm font-medium text-gray-700" %>
          <%= form.number_field :score, class: "mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
        </div>

        <div class="col-span-3">
          <%= form.label :published_at, class: "block text-sm font-medium text-gray-700" %>
          <%= form.datetime_select :published_at, {}, class: "mt-1 py-2 pl-3 pr-7 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" %>
        </div>

        <div class="col-span-6 sm:col-span-4">
          <fieldset>
            <legend class="text-base font-medium text-gray-900">Configuration</legend>
            <div class="mt-4 space-y-4">
              <div class="flex items-start">
                <div class="flex items-center h-5">
                  <%= form.check_box :confidential, class: "focus:ring-blue-500 h-4 w-4 text-blue-600 border-gray-300 rounded" %>
                </div>
                <div class="ml-3 text-sm">
                  <%= form.label :confidential %>
                  <p class="text-gray-500">Should the company be hidden?</p>
                </div>
              </div>
              <div class="flex items-start">
                <div class="flex items-center h-5">
                  <%= form.check_box :targeting, class: "focus:ring-blue-500 h-4 w-4 text-blue-600 border-gray-300 rounded" %>
                </div>
                <div class="ml-3 text-sm">
                  <%= form.label :targeting %>
                </div>
              </div>
              <div class="flex items-start">
                <div class="flex items-center h-5">
                  <%= form.check_box :hide_from_search, class: "focus:ring-blue-500 h-4 w-4 text-blue-600 border-gray-300 rounded" %>
                </div>
                <div class="ml-3 text-sm">
                  <%= form.label :hide_from_search %>
                  <p class="text-gray-500">Hide from search. Will then only visible by direct link.</p>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
    <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
      <%= form.submit class: "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" %>
    </div>
  </div>
<% end %>
