<div class="bg-white shadow px-4 py-5 sm:rounded-md sm:p-6">
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="md:col-span-1">
      <h3 class="text-lg font-medium leading-6 text-gray-900">Industries</h3>
      <p class="mt-1 text-sm text-gray-500">Industries this Article applies to</p>
    </div>
    <div class="mt-5 md:mt-0 md:col-span-2">
      <div class="grid grid-cols-6 gap-6">
        <div class="col-span-6">
          <turbo-frame id="<%= dom_id(article, "industries") %>">
            <div class="space-y-3">
              <% article.industries.order(:id).each do |industry| %>
                <%= render "admin/articles/industry", industry: industry %>
              <% end %>
            </div>
            <div class="mt-5">
              <%= fields_for(article.industries.build) do |f| %>
                <div class="flex">
                  <div class="flex-grow">
                    <%= f.label :industry, class: "block text-sm font-medium text-gray-700" %>
                    <%= f.select :industry, ::Industry.active.order(:name).where.not(id: article.industries.pluck(:industry_id)).map { |industry| [industry.name, industry.id] }, {prompt: "Select Industry"}, {class: "mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-sm shadow-sm focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 sm:text-sm"} %>
                  </div>
                  <div class="ml-2">
                    <label class="block text-sm font-medium text-gray-700">&nbsp;</label>
                    <%= f.button "Add", formmethod: "post", formaction: add_industry_admin_article_path, data: { turbo_frame: dom_id(article, "industries")}, class: "mt-1 block justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-sm text-white bg-emerald-600 hover:bg-emerald-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-emerald-500" %>
                  </div>
                </div>
              <% end %>
            </div>
          </turbo-frame>
        </div>
      </div>
    </div>
  </div>
</div>
