<div class="mb-16">
  <h3 class="text-lg font-medium leading-6 text-gray-900">Key takeaways</h3>
  <hr class="my-4" />
  <div class="space-y-5">
    <% article.insights.each do |insight| %>
      <%= render "admin/articles/insight", insight: insight %>
    <% end %>
  </div>

  <turbo-frame id="<%= dom_id(article, "insights") %>">
    <div class="mt-5">
      <%= fields_for(article.insights.build) do |f| %>
        <p class="font-semibold text-gray-800 mb-1">Add a new takeaway</p>
        <%= f.text_field :title, class: "focus:ring-emerald-500 focus:border-emerald-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-sm mb-2", placeholder: "Title" %>
        <%= f.text_area :description, class: "focus:ring-emerald-500 focus:border-emerald-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-sm mb-2", placeholder: "Description" %>
        <%= f.button "Add Insight", formmethod: "post", formaction: add_insight_admin_article_path, data: { turbo_frame: dom_id(article, "insights")}, class: "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-sm text-white bg-emerald-600 hover:bg-emerald-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-emerald-500" %>
      <% end %>
    </div>
  </turbo-frame>
</div>
