<div class="bg-white shadow px-4 py-5 sm:rounded-md sm:p-6">
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="md:col-span-1">
      <h3 class="text-lg font-medium leading-6 text-gray-900">Insights</h3>
      <p class="mt-1 text-sm text-gray-500">What are the key takeaways from this project?</p>
    </div>
    <div class="mt-5 md:mt-0 md:col-span-2">
      <div class="grid grid-cols-6 gap-6">
        <div class="col-span-6">
          <turbo-frame id="<%= dom_id(article, "insights") %>">
            <div class="space-y-3">
              <% article.insights.each do |insight| %>
                <%= render "admin/articles/insight", insight: insight %>
              <% end %>
            </div>
            <div class="mt-5">
              <%= fields_for(article.insights.build) do |f| %>
                <div class="grid grid-cols-6 gap-6">
                  <div class="col-span-6 sm:col-span-4">
                    <%= f.label :title, class: "block text-sm font-medium text-gray-700" %>
                    <%= f.text_field :title, class: "mt-1 focus:ring-emerald-500 focus:border-emerald-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-sm" %>
                  </div>
                  <div class="col-span-6 sm:col-span-4">
                    <%= f.label :description, class: "block text-sm font-medium text-gray-700" %>
                    <div class="mt-1">
                      <%= f.text_area :description, class: "mt-1 focus:ring-emerald-500 focus:border-emerald-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-sm" %>
                    </div>
                  </div>
                  <div class="col-span-6 sm:col-span-4">
                    <%= f.button "Add Insight", formmethod: "post", formaction: add_insight_admin_article_path, data: { turbo_frame: dom_id(article, "insights")}, class: "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-sm text-white bg-emerald-600 hover:bg-emerald-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-emerald-500" %>
                  </div>
                </div>
              <% end %>
            </div>
          </turbo-frame>
        </div>
      </div>
    </div>
  </div>
</div>
