<div class="p-8" data-testid="skills">
  <h3 class="text-sm text-neutral-900 font-bold uppercase mb-2">Skills</h3>
  <turbo-frame id="<%= dom_id(article, "skills") %>">
    <div class="divide-y divide-y-neutral-100">
      <% article.skills.order(:id).each do |skill| %>
        <%= render "admin/articles/skill", skill: skill %>
      <% end %>
    </div>
    <%= fields_for(article.skills.build) do |f| %>
      <div class="flex">
        <div class="flex-grow">
          <%= f.select :skill, ::Skill.active.order(:name).where.not(id: article.skills.pluck(:skill_id)).map { |skill| [skill.name, skill.id] }, {prompt: "Add a skill"}, {class: "block w-full py-2 px-3 border border-gray-300 bg-white rounded-sm shadow-sm focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 sm:text-sm"} %>
        </div>
        <div class="ml-2">
          <%= f.button formmethod: "post", formaction: add_skill_admin_article_path, aria: {label: "Add skill"}, data: {turbo_frame: dom_id(article, "skills")}, class: "block justify-center py-2 px-3 border border-solid border-neutral-100 rounded-sm bg-neutral-100 hover:bg-neutral-200" do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
            </svg>
          <% end %>
        </div>
      </div>
    <% end %>
  </turbo-frame>
</div>
