<div class="mt-4">
  <%= form_with(url: {action: :search}, method: :get) do |f| %>
    <%= f.search_field :query, value: params[:query] %>
    <%= f.select :engine, [["babbage", "babbage"], ["davinci (expensive! ⚠️)", "davinci"]] %>
    <%= f.submit "Search", class: "cursor-pointer py-2 px-4 border border-transparent shadow-sm md:text-sm font-medium rounded-md text-white bg-emerald-600 hover:bg-emerald-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-emerald-500" %>
  <% end %>
</div>

<% if @results.present? %>
  <h2 class="text-lg mt-4">Results</h2>
  <ol class="mt-4">
    <% @results.each do |result| %>
      <li>
        <%= result[:similarity] %>
        <%= link_to result[:article].title, "https://app.advisable.com/case_studies/#{result[:article].uid}", class: "underline hover:no-underline", target: "_blank" %>
      </li>
    <% end %>
  </ol>
<% end %>
