<ul role="list" class="mb-16 grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-6">
  <% content.images.each do |image| %>
    <li class="relative" id="<%= dom_id(image) %>">
      <div class="block w-full aspect-w-10 aspect-h-7 rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-gray-100 focus-within:ring-indigo-500 overflow-hidden">
        <%= image_tag image, class: "object-cover pointer-events-none" %>
      </div>
      <%= link_to remove_image_admin_content_path(content, image_id: image.id), class: "inline-flex absolute top-2 right-2 items-center px-2 py-1 border border-transparent text-xs font-medium rounded-xs text-neutral-700 hover:text-neutral-900 bg-neutral-100 hover:bg-neutral-200", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
        </svg>
      <% end %>
    </li>
  <% end %>
  <li class="relative">
    <%= form_with(**content_form_params(content)) do |form| %>
      <div class="flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-lg">
        <div class="space-y-1 text-center">
          <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48">
            <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
          <div class="flex text-sm text-gray-600">
            <%= form.label "images-#{content.id}", class: "mt-3 relative cursor-pointer bg-white rounded-sm font-medium text-emerald-600 hover:text-emerald-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-emerald-500" do %>
              <span>Select images</span>
              <%= form.file_field :images, multiple: true, class: "sr-only", id: "images-#{content.id}", onchange: "form.requestSubmit()" %>
            <% end %>
          </div>
        </div>
      </div>
      <%= form.hidden_field :section_id, value: content.section.id %>
      <%= form.hidden_field :type, value: content.type %>
      <%= form.submit "Upload", class: "w-full mt-2 px-2 py-1 border border-transparent text-xs font-medium rounded shadow-sm text-white bg-emerald-600 hover:bg-emerald-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-emerald-500" %>
    <% end %>
  </li>
</ul>
