<%= form_with(**content_form_params(content), class: "bg-neutral-100 p-5 mb-12 rounded-md") do |form| %>
  <%= form.hidden_field :section_id, value: content.section.id %>
  <%= form.hidden_field :type, value: content.type %>

  <div class="mb-4">
    <%= form.label :url, "Buzzsprout URL", class: "block mb-2" %>
    <%= form.text_field :url, value: content.content["url"], rows: 10, class: "text-base w-full shadow-sm block focus:ring-emerald-500 focus:border-emerald-500 border-gray-300 rounded-sm" %>
  </div>
  <div class="flex justify-between">
    <span></span>
    <%= form.submit content.persisted? ? "Update" : "Save", class: "text-xs px-2 py-1 border border-transparent rounded shadow-sm text-white bg-emerald-600 hover:bg-emerald-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-emerald-500" %>
  </div>
<% end %>
