<%= form_with(**content_form_params(content), class: "mt-3") do |form| %>
  <div class="mt-1">
    <%= form.label :url, "Buzzsprout URL" %>
    <%= form.text_field :url, value: content.content["url"], rows: 10, class: "text-base w-full shadow-sm block focus:ring-emerald-500 focus:border-emerald-500 border-gray-300 rounded-sm" %>
  </div>
  <%= form.hidden_field :section_id, value: content.section.id %>
  <%= form.hidden_field :type, value: content.type %>
  <div class="flex justify-between mt-2">
    <span></span>
    <%= form.submit "Save", class: "text-xs px-2 py-1 border border-transparent rounded shadow-sm text-white bg-emerald-600 hover:bg-emerald-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-emerald-500" %>
  </div>
<% end %>
