<%= form_with(**content_form_params(content), class: "mt-3") do |form| %>
  <% ((content.content["results"]&.size || 2) + 1).times do |i| %>
    <div class="mb-4">
      <% result = content.content["results"].try(:[], i) || {} %>
      <div>
        <%= form.select "results[]category", options_for_select(Admin::ContentsController::RESULT_CATEGORIES, result["category"]), {prompt: "Select Category"}, {class: "mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-sm shadow-sm focus:outline-none focus:ring-emerald-500 focus:border-emerald-500"} %>
      </div>
      <div class="mt-1">
        <%= form.text_field "results[]callout", value: result["callout"], rows: 10, class: "text-base w-full shadow-sm block focus:ring-emerald-500 focus:border-emerald-500 border-gray-300 rounded-sm" %>
      </div>
      <div class="mt-1">
        <%= form.text_field "results[]context", value: result["context"], rows: 10, class: "text-base w-full shadow-sm block focus:ring-emerald-500 focus:border-emerald-500 border-gray-300 rounded-sm" %>
      </div>
    </div>
  <% end %>
  <%= form.hidden_field :section_id, value: content.section.id %>
  <%= form.hidden_field :type, value: content.type %>
  <div class="flex justify-between mt-2">
    <span></span>
    <%= form.submit "Save", class: "text-xs px-2 py-1 border border-transparent rounded shadow-sm text-white bg-emerald-600 hover:bg-emerald-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-emerald-500" %>
  </div>
<% end %>
