<div class="field-unit__label">
  <%= f.label field.attribute, for: field.attribute %>
</div>
<div class="field-unit__field TextArray" id="TextArray-<%= field.attribute %>">
  <% field.data.each do |value| %>
    <%= render '/fields/text_array_field/field_value',
    model: f.object.class.to_s.underscore,
    attribute: field.attribute, value: value %>
  <% end %>

  <a href="#" class="AddTextArrayValue">Add</a>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    function remove(e) {
      e.preventDefault()
      $(this).closest(".TextArrayValue").remove()
    }

    function add(e) {
      e.preventDefault()
      $(this).before("<%=j render '/fields/text_array_field/field_value', model: f.object.class.to_s.underscore, attribute: field.attribute, value: '' %>")
    }

    $("body").on("click", "#TextArray-<%=field.attribute%> .RemoveTextArrayValue", remove)

    $("body").on("click", "#TextArray-<%=field.attribute%> .AddTextArrayValue", add)
  });
</script>