Hi <%= @specialist.first_name %>,
<br/>
<br/>
Ahead of your call with <%= @user.name %> from <%= @user.company_name %>, I'm
including some notes on the client and project for your reference below. Please
take time to read this prior to the call.
<br/>
Best of luck and let me know if you have any questions!

<br/>
<br/>

Best,
<%= @user.sales_person.first_name %>

<br/>
<br/>

<b>On The Call:</b>
<br/>
<br/>
The goal of the call should be for you to get an in-depth understanding of the
<%= @interview.application.project.primary_skill %> project while also
convincing <%= @user.first_name %> and the <%= @user.company_name %> team of your
ability to execute it. After the call, you should ideally be in the position to
send a proposal to them.
<br/>
You can see the full project details
<a href="https://app.advisable.com/invites/<%= @interview.application.airtable_id %>/">here</a>.
<br/>
It may make sense to propose an initial paid trial project. If this is the
case, I'd encourage you to work together with <%= @user.first_name %> to come to
an agreement on what a sensible trial project would be. The outcome of this
paid trial would be for you to provide a valuable contribution towards the
client's goals while demonstrating your capabilities in order to broaden to a
full project.

<br/>
<br/>
<b>After The Call:</b>
<br/>
<br/>
After the call, we'll send you an email asking you for feedback which we'll
need you to complete ASAP. We typically encourage you to send a proposal to
<%= @user.company_name %> as soon as possible in order to enable them to make a
quick decision - companies that receive proposals ASAP hire far quicker and
more frequently.
<br/>
You can do so using our tool
<a href="https://app.advisable.com/invites/<%= @interview.application.airtable_id %>/proposal">here</a>.

I'll share this link with you again after the call.

<br/>
<br/>

<b>Adding References:</b>
<br/>
<br/>

We strongly encourage you to also add validated references to support your
proposal
<a href="https://app.advisable.com/invites/<%= @interview.application.airtable_id %>/apply/references">here</a>.
This lets you quickly and easily add references for previous projects you've
done (both full-time and freelance) and get validation from the people you
worked with. It should take you ~2 mins to do each reference, and your
referee ~10 seconds to validate it. You'll also be able to use these
references whenever you're applying for a project in the future.
<br/>
<br/>
<b>Pricing & Logistics:</b>
<br/>
<br/>

Please discuss pricing directly with <%= @user.first_name %>  on the call. I've
already shared your proposed hourly rate of $<%= @interview.application.rate %>
as part of your initial application. Please remember to take into account that the fees
you communicate will include the Advisable.com fee of 20%

<br/>
FYI Advisable's fee of 20% is reduced for large and long term relationships
between a Freelancer and Client. For a given Freelancer/Client relationship,
Advisable's fee is reduced to 10% on payments above $10,000, and further
reduced to 5% on payments above $25,000. Remember, Advisable charges fees to
Freelancers so that the rate quoted to Clients is the only rate that Clients
need to consider and pay.

<br/>
There is no need for you to communicate your Advisable fees to Clients,
although your fees are of course transparent and available to Clients.
Our goal for the Client is simplicity: they agree to your rate, Advisable
invoice them on that basis, then that's all they pay.

<br/>
Once <%= @user.first_name %> makes you an offer, you can accept it using our
tool. <%= @user.company_name %> will make all payments via the Advisable.com
platform so, once they accept your proposal, we will be in touch with everyone
to take care of invoicing, contracts, etc.


<br/>
<br/>
--
<br/>
<%= @user.sales_person.name %>
<br/>
Advisable.com
