<!DOCTYPE html>
<html>
  <head>
    <title><%= (yield :title).presence || "Advisable Admin" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag "admin" %>
    <%= stylesheet_pack_tag "admin" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  </head>
  <body style="--header-height: 64px;">
    <div class="min-h-full">
      <%= render "shared/navigation" %>
      <%= render "shared/flash" %>
      <%= yield %>
    </div>
  </body>
</html>
