<!DOCTYPE html>
<html>
  <head>
    <% if ENV["GTM"] %>
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','<%= ENV["GTM"] %>');</script>
      <!-- End Google Tag Manager -->
    <% end %>

    <title><%= yield :title || "Advisable" %></title>
    <%= csrf_meta_tags %> <%= csp_meta_tag %>

    <%= yield :meta_tags %>

    <link rel="icon" href="/favicon-32.png" sizes="32x32" />
    <link rel="icon" href="/favicon-192.png" sizes="192x192" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <link
      href="https://assets.calendly.com/assets/external/widget.css"
      rel="stylesheet"
    />
    <script
      src="https://assets.calendly.com/assets/external/widget.js"
      type="text/javascript"
    ></script>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>


    <%# Google analytics tag %>
    <% if ENV["GOOGLE_ANALYTICS"] %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV["GOOGLE_ANALYTICS"] %>"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', "<%= ENV["GOOGLE_ANALYTICS"] %>");
      </script>
    <% end %>
    <%# End google analytics tag %>

    <%# Hotjar %>
    <% if ENV["HOTJAR"] %>
      <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:<%= ENV["HOTJAR"] %>,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
      </script>
    <% end %>
    <%# End of Hotjar code %>

    <% if ENV["SEGMENT"] %>
      <script>
        !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on","addSourceMiddleware","addIntegrationMiddleware","setAnonymousId","addDestinationMiddleware"];analytics.factory=function(e){return function(){var t=Array.prototype.slice.call(arguments);t.unshift(e);analytics.push(t);return analytics}};for(var e=0;e<analytics.methods.length;e++){var key=analytics.methods[e];analytics[key]=analytics.factory(key)}analytics.load=function(key,e){var t=document.createElement("script");t.type="text/javascript";t.async=!0;t.src="https://cdn.segment.com/analytics.js/v1/" + key + "/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n);analytics._loadOptions=e};analytics._writeKey="ZsDRAyDoAf6EWAfAW6KgcuH36APXjXjj";;analytics.SNIPPET_VERSION="4.15.3";
        analytics.load("<%= ENV["SEGMENT"] %>");
        }}();
      </script>
    <% end %>

    <%= render "prefetched_queries" %>

    <% if current_account&.admin? %>
      <script>
        window.advisableAdmin = "<%= current_account.name %>"
      </script>
    <% end %>
  </head>

  <body>
    <div id="keys" data-value="<%= { stripePublicKey: ENV.fetch("STRIPE_PUBLIC_KEY", nil) }.to_json %>"></div>

    <% if ENV["GTM"] %>
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= ENV["GTM"] %>"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
    <% end %>

    <%= yield %>

    <% if ENV["LINKEDIN_PARTNER_ID"] %>
      <script type="text/javascript">
        _linkedin_partner_id = "<%= ENV["LINKEDIN_PARTNER_ID"] %>"; window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || []; window._linkedin_data_partner_ids.push(_linkedin_partner_id); </script><script type="text/javascript"> (function(){var s = document.getElementsByTagName("script")[0]; var b = document.createElement("script"); b.type = "text/javascript";b.async = true; b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js"; s.parentNode.insertBefore(b, s);})();
      </script>
      <noscript> <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=<%= ENV["LINKEDIN_PARTNER_ID"] %>&fmt=gif" /> </noscript>
    <% end %>

    <% if flash.any? %>
      <script>
        window.flash = JSON.parse('<%== flash.to_hash.to_json %>')
      </script>
    <% end %>


    <%= javascript_pack_tag "application" %>
    <%= stylesheet_pack_tag "application" %>
    <noscript>
      Please enable javascript to view this application
    </noscript>
  </body>
</html>
