<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag "admin" %>
    <%= stylesheet_pack_tag "admin" %>
  </head>
  <body class="flex flex-col h-screen">
    <%= render "shared/flash" %>
    <%= yield %>
  </body>
</html>
